/* Container Styling */
.container 
{
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Header Navigation */
.header 
{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.header a 
{
    text-decoration: none;
    font-weight: bold;
    color: #666;
}

.header a.active 
{
    color: rgb(255 104 65);
}

/* Image Styling */
.image-container 
{
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}

.image-container img 
{
    max-width: 100%;
    height: auto;
    display: block;
}

/*Voted Images Showing CSS Starts*/

.voted-image-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    overflow-y: auto;
    height: 500px;
}

/* Grid Container for the Voted Images */
.voted-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    justify-items: center;
    margin-top: 20px;
    padding: 10px;
}

/* Style for individual items in the grid */
.voted-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.voted-item:hover {
    transform: translateY(-5px);
}

/* Style for the image inside each voted item */
.voted-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Style for the voting label (Upvote / Downvote) */
.voted-item p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Upvote and Downvote labels */
.upvote {
    color: #4caf50; /* Green for upvotes */
}

.downvote {
    color: #f44336; /* Red for downvotes */
}

/* Responsive Styles for VOTES */
@media screen and (max-width: 768px) {
    .voted-images-section {
        padding: 15px;
    }

    .voted-item {
        padding: 12px;
    }
}

/*Voted Images Showing CSS Ends*/
/* Footer CSS STARTS */
.footer 
{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.footer i 
{
    font-size: 1.2em;

    cursor: pointer;
}
.footer i:hover 
{
    color: red;
}
/* General button styling */
.icon-button {
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.icon-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-button:focus {
    outline: 2px solid #ffbc41; /* Lighter orange outline */
}

.icon-button:active {
    transform: scale(0.95);
}

.voted-pics-btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px; 
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #f44336
}
/* icons' sizes */
.fa-heart,
.fa-thumbs-up,
.fa-thumbs-down,
.fa-images {
    font-size: 20px; 
}

/* Footer CSS ENDS*/

/* Breeds section CSS STARTS */
#breeds {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.breed-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.breed-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.breed-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.value-container {
    position: relative;
    display: flex;
    cursor: pointer;
}

.search-breed-dropdown{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

/* Breed List */
.breed-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    display: none; /* Hidden by default */
}

.breed-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.breed-list li:hover {
    background-color: #f0f0f0;
}

/* Breed Details */
.breed-details {
padding-top: 20px;
text-align: left;
}

.breed-image-placeholder img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

#breed-name {
    font-weight: bold;
    color: black;
    font-size: 1.5em; 
    display: inline-block; 
    margin-right: 8px; 
}

#breed-origin {
    font-weight: bold;
    color: #a8a8a8; 
    font-size: 1.2em;
    display: inline-block;
    margin-right: 8px; 
}

#breed-id {
    font-style: italic;
    color: #a8a8a8; 
    font-size: 1em; 
    display: inline-block;
}

#breed-description {
    color: #636a74;
    font-size: 1em; 
    margin-top: 10px; 
    line-height: 1.5; 
}

#wiki-link {
    color: rgb(255, 104, 65);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px; 
    display: inline-block;
}
.breed-image-slider {
    max-width: 100%;
    height: auto;
}
.breed-image-placeholder {
    overflow: hidden;
}
.slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.slider-dots {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #717171;
}

/* Responsive Styles for BREEDS*/
@media screen and (max-width: 768px) {
    #breeds {
        padding: 10px;
    }
    
    .breed-container {
        padding: 15px;
    }
    
    .search-breed-input {
        padding: 8px;
        font-size: 14px;
    }
    
    .breed-name {
        font-size: 22px;
    }
}
    
/* Breeds CSS ENDS */

/* Favorites CSS STARTS */

.favorites-container {
    display: flex;
    padding: 1rem;
    background-color: #f9f9f9;
    flex-direction: column;
    overflow: hidden;
}

.view-icons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0;
}
.grid-view.active, .bar-view.active {
    background-color: #ff6841; 
    color: #ffffff;
}

/* Button focus states */
[role="button"]:focus {
    outline: 2px solid #ff6841;
}

.grid-view, .bar-view {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.grid-view:hover, .bar-view:hover {
    background-color: #e0e0e0;
}


i {
    font-size: 1.5rem; 
}

.favorite-item p{
    font-size: 12px !important;
    font-weight: 600;
    color:#f44336;
}

.favorite-images-grid.grid-view {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    height: 500px;
    background-color: #d5b3a369;
}

/* Make the images responsive in grid view */
.favorite-images-grid.grid-view img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

/* Bar (scrolling) view layout */
.favorite-images-grid.bar-view {
    box-sizing: border-box;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 1rem;
    padding: 1rem;
    background-color: #d5b3a369;
}

/* Make the images in scroll view behave responsively */
.favorite-images-grid.bar-view img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Hover state for scroll images */
.favorite-images-grid.bar-view img:hover {
    transform: scale(1.05);
}

